html {
    background: skyblue;
}

h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

h2 {
    font-size: 50px;
    margin-left: 600;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


tbody {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}