html {
    background: skyblue;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

table {
    margin-left: auto;
    margin-right: auto;
}